* {
    margin: 0;
    padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

button:hover {
    background-color: #01874b;
    cursor: pointer;
}

header {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 140px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header li {
    font-size: 16px;
}

header button {
    font-size: 16px;
    padding: 12px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #03B868;
}
