* {
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary {
  font-size: 16px;
  padding: 12px 16px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #30b868;
  box-shadow: 0px 10px 20px 0px #00000043;
}

.btn-secondary {
  font-size: 16px;
  padding: 12px 16px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
}

button:hover {
  background-color: #01874b;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

header {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 140px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

header li {
  font-size: 16px;
}

.hero {
  background-color: #00000003;
}

.hero .top {
  background: url(./assets/hero-bg.png);
  color: white;
  text-align: center;
  padding-top: 115px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .top .early {
  background-color: white;
  color: #30b868;
  padding: 8px 12px;
  width: 229px;
  border-radius: 1000px;
  margin-bottom: 16px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-content: center;
}

.hero .top .early img {
  width: 16px;
  height: 16px;
}

.hero .top h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
}

.hero .top h1 .green {
  color: #30b868;
}

.hero .top .details {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}

.hero .top .btn-container {
  display: flex;
  gap: 16px;
}

.hero .bottom {
  text-align: center;
}

.hero .bottom h2 {
  color: #001931;
  font-weight: bold;
  font-size: 48px;
  margin-top: 50px;
}

.hero .bottom .btm-details {
  color: #627382;
  padding-top: 16px;
  font-size: 16px;
}

.hero .bottom .card-container {
  display: flex;
  gap: 24px;
  border-radius: 8px;
  margin: 44px 120px;
  padding-bottom: 20px;
}

.hero .bottom .card-container .card {
  display: flex;
  flex-direction: column;
  padding: 70px 24px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #00000030;
}

.hero .bottom .card-container .img-container {
  background-color: #f95555;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 16px;
}

.hero .bottom .card-container .card h3 {
  font-size: 24px;
  color: #001931;
  margin-bottom: 16px;
}

.hero .bottom .card-container .card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.knowledge {
  padding: 120px;
  display: flex;
  gap: 60px;
  align-items: center;
}

.knowledge .left img {
  border-radius: 12px;
}

.knowledge .right .pretext {
  font-size: 16px;
  color: #03b868;
  margin-bottom: 16px;
}

.knowledge .right h1 {
  font-size: 48px;
  color: #001931;
  font-weight: bold;
  margin-bottom: 16px;
}

.knowledge .right p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.knowledge .right li {
  list-style: none;
  font-size: 16px;
  color: #001931;
  margin-bottom: 16px;
}

.knowledge .right li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./assets/CheckCircle.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 6px;
  vertical-align: middle;
}

.cta {
  margin: 2px 120px 0px 120px;
  background-color: #f7f6f2;
  border-radius: 12px;
  text-align: center;
  padding: 80px 40px;
}

.cta h2 {
  font-weight: bold;
  color: #001931;
  font-size: 40px;
}

.cta p {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #627382;
  line-height: 24px;
  font-size: 16px;
}

footer {
  margin-top: 120px;
  padding: 120px 120px 30px 120px;
  background-color: #001931;
  color: white;
  text-align: center;
}

footer .logo img {
  width: 139px;
}

footer .social {
  font-size: 16px;
  margin-bottom: 16px;
}

footer .icons {
  display: flex;
  gap: 16px;
}

footer .icons i {
  height: 20px;
  width: 20px;
}

footer hr {
  margin-top: 80px;
  margin-bottom: 30px;
  color: #627382;
}

footer .top {
  display: flex;
  justify-content: space-between;
}

footer .copy {
  font-size: 16px;
  color: #fafafa;
}
